#contact {
    padding: 6rem 1rem;
    background: rgb(226, 226, 226);
    height: 100%;
  }
  
  .contact-container {
    padding: 15px;
    display: flex;
    background: #fff;
    border-radius: 10px;
  }
  
  .contact-container h2 {
    padding: 15px;
    display: flex;
    background: #fff;
    border-radius: 10px;
    font-family: "Hachi Maru Pop", cursive;
    font-weight: bolder;
    font-size: 100px;

  }
  
  .contact-img {
    width: 50%;
  }
  
  .contact-img img {
    display: block;
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .form-container {
    padding: 2rem;
    width: 50%;
    margin: auto;
    background-color: cadetblue;
    border-radius: 10px;
  }
  
  .form-container input {
    display: inline;
    
    border :2px solid #01103f;
    border-radius: 10px;
    
    padding: 1rem 1rem;
    box-shadow: none;
    outline: none;
    margin: .31rem;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Hachi Maru Pop", cursive;
  }
  
  .form-container textarea {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #01103f;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Hachi Maru Pop", cursive;
    outline: none;
    padding: 1rem 1rem;
    resize: none;
    margin: .31rem;
  }
  
  .form-container h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
    background-color: cadetblue;
    justify-content: center;
    font-family: "Hachi Maru Pop", cursive;
    font-weight:bold;
  }
  
  .form-container a {
    font-size: 1.3rem;
  }
  
  .btn {
    display:flex;
    margin-inline: 25%;
    padding: 0.31em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    width: 50%;
    align-items: center;
    justify-content: center;
    
  }
  
  .btn-primary {
    
    color: #fff;
    background: #01103f;
  }
  .btn-primary:hover {
    color: #01103f;
    background: #fdc800;
    transition: background 0.3s ease-in-out;
  }