#footer{
    padding-bottom: 0;
    font-weight: 500;
    color: #fff;
    background: rgb(59, 0, 0);
    margin-bottom: 0;
    justify-content: center;
    font-size: 1.8rem;
    padding: .3rem ;
    text-align: center;
}
#footer h2 {
    text-align: center;
    font-size: 1.8rem;
    font-family: "Hachi Maru Pop", cursive;
    
    
  }
#footer p{
    display: inline-block;
    margin: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    
}  
#footer a{
    text-decoration: none;
    color: #fff;
}